<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>Food Delivery</h1>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/login_page">Login</a></li>
                <li><a href="http://127.0.0.1:8000/register_page">Register</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Welcome to the Food Delivery Service!</h2>
        <p>Order your favorite meals online and enjoy fast delivery.</p>
    </main>
    <footer>
        <p>&copy; 2024 Food Delivery. All rights reserved.</p>
    </footer>
</body>
</html>
